$border-color: #eaebed;
$left-side-box: #526fe4;
$loss-color: #df2e38;
$main-color: #ffffff;
$right-side-box: #f1f5fa;
$font: sans-serif;
$error-color:#df2e38;

* {
    box-sizing: border-box;
    font-family: $font;
    margin: 0;
    padding: 0;
}

.leftSideBox {
    position: relative;
    background: $left-side-box;
    width: 15%;
    height: 100vh;
    display: inline-block;
}
.rightSideBox {
    display: inline-block;
    width: 85%;
    position: absolute;
    background-color: $right-side-box;
    .backBtn {
        font-weight: 550;
        font-size: medium;
        margin: 10px;
        border: none;
        background: none;
    }
    .rightMain {
        background-color: $main-color;
        padding: 10px;
        margin: 20px;
        position: relative;
        .info {
            font-weight: 400;
            margin: 10px;
        }
        .heading {
            font-weight: 300;
            margin: 10px;
        }
        .outerContainer {
            position: relative;
            width: inherit;
            .leftContainer {
                width: 50%;
                height: inherit;
                border: 1px solid $border-color;
                margin: 10px;
                display: inline-block;
                .sliders {
                    margin: 40px 0px 40px 30px;
                    width: 90%;
                    .grid {
                        position: relative;
                        .gridItem {
                            position: absolute;
                            right: 0;
                            .inputBox {
                                background-color: #f1f5fa;
                            }
                        }
                    }
                    .errField {
                        color: $error-color;
                        padding: 3px;
                        font-size: 14px;
                        margin: 2px 0px;
                        text-align: right;
                    }
                }
            }
            .rightContainer {
                position: absolute;
                width: 48%;
                height: 96.7%;
                display: inline-block;
                border: 1px solid $border-color;
                margin: 10px 15px 0px 0px;
                .graphText {
                    align-items: center;
                    color: #626161;
                    line-height: 1.5;
                    padding: 0px 0px 11px 5px;
                    font-family: $font;
                    .delay {
                        color: #506ee4;
                        font-weight: bold;
                    }
                    .lossAmount {
                        color: $loss-color;
                        font-weight: bold;
                        font-size: 22px;
                    }
                }
                .customTooltip {
                    font-family: $font;
                    border: #626161 1px solid;
                    padding: 5px;
                    text-align: left;
                    background-color: $main-color;
                }
                .barGraph {
                    margin: 20px;
                }
            }
        }
        .errorPage {
            position: absolute;
            width: 46%;
            height: 96.5%;
            display: inline-block;
            border: 1px solid $border-color;
            margin: 10px;
            padding: 15px;
            text-transform: uppercase;
            font-family: "Montserrat";
            color: #df2e38;
            text-align: center;
            padding-top: 200px;
        }
    }
}

@media screen and (max-width: 1300px){
    .rightSideBox {
        height: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: $main-color;
    }
    .leftSideBox {
        position: relative;
        max-height: 1000px;
    }
    #root {
        .rightContainer {
            display: block;
            position: absolute;
            width: 96%;
            margin: 10px;
        }
        .leftContainer {
            width: 95%;
        }
        .sliders {
            width: 80%;
        }
        .barGraph {
            margin: 10px;
        }
    }
}
@media (max-width: 768px) {
    .leftSideBox {
        display: none;
    }
    .rightSideBox {
        width: 100%;
        .leftContainer,.rightContainer {
            width: 100%;
        }
    }
}